* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table {
    width: 70%;
    height: 600px;
    font-size: 24px;
    text-align: justify;
    text-align: center;
}

table tr:nth-child(2n + 1){
    background-color: green;
}

table tr:nth-child(2n){
    background-color: aqua;
}