* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: lightblue;
}

.clear {
    clear: both;
}

#main {
    margin: 0 12px;
}

.header {
    text-align: center;
    margin: 40px 0;
    color: violet;
}

.album {
    display: block;
}

.album1 img {
    border-radius: 8%;
    border: solid 2px;
    margin: 12px 12px;
    float: left;
    width: 23%;
    height: 300px;
}

.line {
    color: #000;
    width: 100%;
}

.album2 img {
    border-radius: 8%;
    border: solid 2px;
    margin: 12px 12px;
    float: left;
    width: 23%;
    height: 300px;
}